p {
    font-family: Arial;
    font-size: 2em;
}

header {
    height: 20px;
    background-color: aquamarine;
}

footer {
    height: 50px;
    background-color: aquamarine;
}

.contenido a {
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 3, 5);
    text-decoration: none;
    padding: 3px;
}

section {
    padding: 3px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_principal {
    max-width: 20px; 
    margin-right: 10px; 
}



  .logo {
    max-width: 100px; /* Ajusta el tamaño según tus necesidades */
    height: auto;
    display: block;
    margin: 0 auto; /* Centra la imagen del logo en la columna */
  }
  .gato {
    max-width: 100%; /* La imagen del gato ocupará el ancho completo de su contenedor */
    height: auto;
  }
