@media (max-width: 767px) {
    p {
        font-size: 20px; /* Tamaño de la fuente más pequeño para dispositivos móviles */
    }
}

@media (max-width: 768px) {
  /* Agrega reglas de estilo específicas para pantallas más pequeñas si es necesario */
}

body {
  font-family: 'Concert One', cursive;
}

header {
  background-color: #023E8A;
  /* Puedes ajustar otros estilos según tus preferencias */
  padding: 10px; /* Agregar espacio interno si es necesario */
}

.contenido a {
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 3, 5);
    text-decoration: none;
    padding: 3px;
}

section {
    padding: 3px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_principal {
    max-width: 50px; 
    margin-right: auto; 
}

/* Establecer tamaño de texto para dispositivos pequeños (menos de 576px) */
@media (max-width: 575.98px) {
    .small-text {
      font-size: 14px; /* Puedes ajustar el tamaño según tus preferencias */
    }
  }


  .blue-box {
    background-color: #8dc2f1; /* Color azul claro */
    padding: 20px;
    margin-top: 20px;
  }

  .circular-image {
    border-radius: 60%; /* Hacer la imagen circular */
    max-width: 200px;
    margin-left: 40px; /* Margen a la izquierda de la imagen */
    margin-right: 30px; /* Margen a la derecha de la imagen */
  }

  .blue-box p {
    margin-bottom: 5px; /* Espacio entre el texto y la imagen */
    margin-left: 40px; /* Margen a la izquierda del texto */
    margin-right: 15px; /* Margen a la derecha del texto */
  }

  .small-text {
    font-size: 12px; /* Tamaño de texto más pequeño */
    color: #555; /* Color de texto más claro */
  }

  .imagen-telefono {
    border-radius: 60%; /* Hacer la imagen circular */
    max-width: 200px;
    margin-left: 40px; /* Margen a la izquierda de la imagen */
    margin-right: 30px; /* Margen a la derecha de la imagen */
  }